DATABASE_URL=postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require
JWT_SECRET="replace-me"
JWT_ACCESS_EXPIRES_IN="1h"
JWT_REFRESH_EXPIRES_IN="48h"
IMGUR_CLIENT_ID=""
IMGUR_CLIENT_SECRET=""
IMGUR_ACCESS_TOKEN=""
PORT=3000
NODE_ENV="development"
