# dependencies
node_modules/

# build output
dist/
coverage/
*.tsbuildinfo

# environment files
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE/editor settings
.idea/
.vscode/

# caches
.cache/
.nestjs/
tmp/
temp/

# Prisma
prisma/dev.db
prisma/dev.db-journal
